div(class='form-group')
  label n◯m✕
  div(class='form-inline')
    div(class='form-group')
      input(type='text', class='form-control', defaultValue=props.toWin, onChange=changeToWin)
      label ◯
    div(class='form-group')
      input(type='text', class='form-control', defaultValue=props.toLose, onChange=changeToLose)
      label ✕
