div(class="form-horizontal")
  h3 n◯m✕
  div(class='form-group')
    label(class='col-sm-2 control-label') 勝抜条件
    div(class='col-sm-2')
      input(type='text', class='form-control', name='toWin', defaultValue=props.rule.toWin, onChange=changeRuleParam)

    label(class='col-sm-2 control-label') 失格条件
    div(class='col-sm-2')
      input(type='text', class='form-control', name='toLose', defaultValue=props.rule.toLose, onChange=changeRuleParam)
