doctype html
html(jang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    // link(rel='icon', href='favicon.ico')
    title QuizDisplay.js

    // Bootstrap
    link(rel='stylesheet', href='bootstrap.min.css')
    script(type='text/javascript', src='jquery-1.11.3.min.js')
    script(type='text/javascript', src='bootstrap.min.js')

    // Application
    link(rel='stylesheet', href='layout.css')
    script(type='text/javascript', src='main.js')

  body
    p Now loading...
