div(class='row') 正誤操作
    button(type='button', class='btn btn-primary', onClick=answerRight) 正解
    button(type='button', class='btn btn-danger', onClick=answerWrong) 誤答
    button(type='button', class='btn btn-warning', onClick=throughAnswer) スルー
    button(type='button', class='btn btn-default', onClick=resetAnswer) リセット
