div(class='row') 正誤操作
    button(type='button', class='btn btn-primary', onClick=props.answerRight) 正解
    button(type='button', class='btn btn-danger', onClick=props.answerWrong) 誤答
    button(type='button', class='btn btn-warning', onClick=props.throughAnswer) スルー
    button(type='button', class='btn btn-default', onClick=props.resetAnswer) リセット
