div(class='row') 正誤操作
    button(type='button', class='btn btn-primary', onClick=this.props.answerRight) 正解
    button(type='button', class='btn btn-danger', onClick=this.props.answerWrong) 誤答
    button(type='button', class='btn btn-warning', onClick=this.props.throughAnswer) スルー
    button(type='button', class='btn btn-default', onClick=this.props.resetAnswer) リセット
