//
 Created by attakei on 15/07/25.
//- footer(class='footer')
//-   div(class='container')
//-     p(class='text-muted')
//-       | powered by attakei.
//-       | &nbsp;/&nbsp;
//-       a(href='https://github.com/attakei/QuizDisplay', target='_blank') GitHub
