.column_border {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 1px;
    padding: 0px;
}

.player_column {
    .column_border;
    p {
        .column_border;
    }
}

.container {
    margin-bottom: 10px;
}
